<% provide  :title, 'Help' %>

<h1>Help me please</h1>
<p>
  Get help on ruby on rails at
  <a href="http://railstutorial.org/help">Rails tutorial help</a>
</p>
<p>
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial Book</a>
</p>
<p>
  To see the gelaskins help page
  <a href="http://www.gelaskins.com/help">The Gelaskins help page</a>
</p>
